# Conteúdo padrão do Flutter .gitignore
# https://github.com/flutter/flutter/blob/master/.gitignore

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Símbolos de depuração e arquivos locais
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Arquivos de ambiente e segredos
.env
.env*.local

# macOS
.DS_Store

# IDEs
.idea/
*.iml
*.iws
.vscode/
*.swp
*.swo

# Web
node_modules/
dist/
web-build/
